.row
  .span12.center
    %h1
      Daftar User
%br
%hr
.row
  .span2.offset10
    = link_to "User Baru", user_new_path, :class=>"btn btn-large btn-primary", :id=>"new_user"
.row
  .span8.offset2
    = will_paginate @users
    %table.table.table-bordered#user-table
      %thead
        %th
          Username
        %th
          Admin ?
        %th
      %tbody
        -@users.each do |user|
          %tr
            %td
              = user.username
            %td
              - if user.is_admin?
                .myIcon.ok
              -else
                .myIcon.no
